<ul>
    <li><a href="@Url.Action("Index","Home")" class="text-light font-weight-bold">Home |</a></li>
    <li><a href="@Url.Action("Category/1/Crime","Home")" class="text-light font-weight-bold"> ଅପରାଧ |</a></li>
    <li><a href="@Url.Action("Category/2/Sports","Home")" class="text-light font-weight-bold"> ଖେଳ |</a></li>
    <li><a href="@Url.Action("Category/3/Odisha","Home")" class="text-light font-weight-bold"> ଓଡିଶା |</a></li>
    <li><a href="@Url.Action("Category/4/Politics","Home")" class="text-light font-weight-bold"> ରାଜନୀତି |</a></li>
    <li><a href="@Url.Action("Category/5/Entertainment","Home")" class="text-light font-weight-bold"> ମନୋରଂଜନ |</a></li>
    <li><a href="@Url.Action("Category/6/National","Home")" class="text-light font-weight-bold"> ଦେଶ ଓ ବିଦେଶ |</a></li>
    <li><a href="@Url.Action("Category/7/Special","Home")" class="text-light font-weight-bold"> ବିଶେଷ |</a></li>
    <li><a href="@Url.Action("Category/8/LifeStyle","Home")" class="text-light font-weight-bold"> ଜୀବନଚର୍ଯ୍ୟା |</a></li>
    <li><a href="@Url.Action("Category/9/Science","Home")" class="text-light font-weight-bold"> ବିଜ୍ଞାନ</a></li>
</ul>
