@model NewsPortal.Concrete.UpdateAccount
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h5 class="pgtitle"><i class="fas fa-key menu-mr"></i> Change Password</h5>
<div ng-app="newsportalApp" ng-controller="passordchangeControl" class="row bg-smoke page-padding">
    <div class="col-lg-12 col-sm-12 col-md-12 mt-4 mt-lg-0 mt-md-0">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-md-12">
                <div class="card mt-2">
                    <div class="card-header bg-header-3">
                        <h5 class="ch"><i class="fas fa-key"></i> View Profile</h5>
                        <p>Your Profile Information</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive-sm">
                            <div class="row">
                                <div class="col-12">
                                    @using (Html.BeginForm())
                                    {

                                        <div class="form-inline">
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.CurrentPassword, htmlAttributes: new { @class = "control-label col-4" })
                                                <div class="col-8">
                                                    @Html.PasswordFor(model => model.CurrentPassword, new { htmlAttributes = new { @class = "form-control form-control-sm rd-0", placeholder = "Current Password" } })
                                                    @Html.ValidationMessageFor(model => model.CurrentPassword, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-4" })
                                                <div class="col-8">
                                                    @Html.PasswordFor(model => model.Password, new { htmlAttributes = new { @class = "form-control form-control-sm rd-0", placeholder = "New Password" } })
                                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-4" })
                                                <div class="col-8">
                                                    @Html.PasswordFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control form-control-sm rd-0", placeholder = "Confirm Password" } })
                                                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="offset-2 col-md-6">
                                                    <input type="submit" value="Update" class="btn btn-bg-11 text-light np-btn" />
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <span id="spnmsg">@TempData["valid"]</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script>
        var newsportalApp = angular.module('newsportalApp', ['ngResource']);
        newsportalApp.controller('passordchangeControl', ['$scope', '$window',
            function ($scope, $window) {
                loaderHide();
            }]);
    </script>
    }
